# ==========================
# Python
# ==========================
venv/
__pycache__/
*.pyc

# ==========================
# Django
# ==========================
db.sqlite3
media/

# ==========================
# Environment Variables
# ==========================
.env
*.env

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Node.js
# ==========================
node_modules/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db 