<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
</head>
<body>

    
        <nav style="background-color: rgb(2, 185, 2); color: aliceblue; height: 100px;"><h2>Admin Dashboard</h2>
    
    <div style="display: flex; justify-content: space-between;">
        <a href="">Add EV stations </a>
        <a href="">View EV stations </a>
        <a href="">View Users </a>
        <a href="">View Workers </a>
        <a href="">View Booking </a>

    </div>
    </nav>
    
</body>
</html>