<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Slots</title>
</head>
<body>
    <div>
    <h2>Add Slot</h2>
    <p><strong>{{station.name}}</strong></p>
    <div>
    <form method="POST">
        {% csrf_token %}

        <label>Charger Type</label>
        <input type="text" name="charger_type" >
        <br><br>

        <label>Power (kW)</label>
        <input type="number" step="0.1" name="kw">
        <br><br>

        <label>Slot Number</label>
        <input type="number" name="slot_number">
        <br><br>

        <label>Price</label>
        <input type="number" step="0.01" name="price">
        <br><br>

        <button type="submit">Save</button>

    </form>
    </div>
    </div>
</body>
</html>