<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EV Charging Station Home</title>
</head>
<body>

    
    <nav style="background-color: rgb(27, 248, 156); color: aliceblue; height: 100px;"><h2>Home</h2>
    
    <div style="display: flex; justify-content: space-between;">
        <a href="/manage_slots/">Manage Slots </a>
        <a href="">Change Password </a>
    </div>
    </nav>
    
    <div class="station">
        <img src="{{data.photo}}" style="width: 80px; height: 70px;">

        <div>
        <span>{{data.name}}</span>
        
        <div>
        <span>{{data.phone}}</span>
        <span>{{data.email}}</span>
        </div>

        </div>
    </div>

</body>
</html>